textarea {
    min-height: 400px;
}

.mailLine {
    display: flex;
    border-style: solid;
    border-width: 1px;
    justify-content: space-around;
    cursor: pointer;
}

.mailLine:hover {
    background-color: aquamarine;
}

.read {
    background-color: #D3D3D3;
}

#archiveBtn{
    float: right;
}


/* #viewEmailSender{
    display: flex;
}
#viewEmailRecipients{
    display: flex;
}

#viewEmailSender{
    display: flex;
}
 */

/* .sender {
    justify-content: flex-start;
}

.subject {
    justify-content: center;

}
.time {
    justify-content: flex-end;
} */