{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view" class="mb-5">
    </div>

    <div id="viewEmail" class="mb-5">
        <div style="overflow:hidden;">
            <h3 style="float:left;" id="viewEmailSubject"></h3>
            <button class="btn btn-primary" id="archiveBtn"></button>
        </div>
        <div>
            <label class="h5">Sender: </label>
            <span id="viewEmailSender"></span>
        </div>
        <div class="mb-2">
            <label class="h5">To: </label>
            <span id="viewEmailRecipients"></span>
        </div>
        <div id="viewEmailBody" class="mb-3">
        </div>
        <footer>
            <label >Time: </label>
            <span id="viewEmailTime"></span>
        </footer>
    </div>

    <div id="compose-view">
        <div id="error" class="alert alert-danger"></div>
        <div id="success" class="alert alert-success">
            The email has been successfully sent.
        </div>
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}